<% @page_title = "Post-Question Video" %>

<p>
  <%= link_to "Back to Lesson: #{@lesson.name}", @lesson %>

  <% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit Question', [:edit, @question] %>
  <% end %>
</p>

<h1>The Question</h1>

<%= render "ask" %>

<h2>The Explanation</h2>

<p><%= raw @question.explanation %></p>

