<% @page_title = "User Authenticated" %>

<p>You have successfully logged in to Bottlenose. You can bookmark this
page to provide fast access to your courses.</p>

<ul>
  <li><%= link_to "Go To Courses", courses_path %></li>
</ul>
