<% @page_title = "Welcome to Bottlenose" %>

<div class="row">
  <div class="col-sm-12">
    <p>Bottlenose is a web-based assignment submission and grade tracking tool
    for Computer Science courses.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Published Course Materials</h2>

    <% Term.all_sorted.each do |tt| %>
      <h3><%= tt.name %></h3>

      <ul>
      <% tt.courses.each do |cc| %>
        <% if cc.public? %>
          <li><%= link_to cc.name, course_path(cc) + "/public" %></li>
        <% end %>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
