<% @page_title = "Teams for #{@course.name}" %>

<p id="notice"><%= notice %></p>

<%= link_to 'New Team', new_course_team_path(@course) %>

<h3>Active Teams</h3>
<%= render "table", teams: @active_teams %>

<h3>Inactive Teams</h3>
<%= render "table", teams: @inactive_teams %>
