<table class="pretty-list">
  <tr>
    <td>Course</td>
    <td><%= @course.name %></td>
  </tr>
  <tr>
    <td>User</td>
    <td><%= @registration.user.name %></td>
  </tr>
  <tr>
    <td>Teacher?</td>
    <td><%= @registration.teacher? ? "Yes" : "No" %></td>
  </tr>
</table>

<%= link_to 'Back', course_registrations_path(@course) %>
