<% @page_title = "View Submission" %>

<p><%= link_to 'Back to Assignment', @assignment %></p>

<h1>Student Notes</h1>

<p>
  <%= @submission.student_notes %>
</p>

<h1>Submitted File</h1>
<p>
  <%= link_to @submission.file_name, @submission.file_path %>
</p>

<h1>Grading Process</h1>

<pre>
  <%= @submission.grading_output %>
</pre>
