<% @page_title = "Outstanding Registration Requests" %>

<p><%= link_to "Back to Course: #{@course.name}", @course %></p>

<h2>Registration Requests: <%= @course.name %>, <%= @course.term.name %></h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Notes</th>
    <th>Registered?</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reqs.each do |reg_request| %>
  <%= render partial: 'request_row',
      locals: { reg_request: reg_request } %>
<% end %>
</table>
