<% @page_title = "#{@course.name} - Manage Course" %>

<p><%= link_to 'View Course Page', @course %></p>

<h1>Change Title</h1>

<%= render 'form' %>

<h1>Things to Manage</h1>

<ul>
<li><%= link_to "Manage Course Registrations", course_registrations_path(@course) %></li>
<li>Manage Course Chapters</li>
</ul>
