<% @page_title = "List of Courses" %>

<p>&nbsp;</p>

<h1>Your Courses</h1>

<ul>
<% @courses.each do |course| %>
  <li>
    <%= link_to course.name, course %>
    <% if @logged_in_user.course_admin?(course) %>
      (<%= link_to 'Edit Settings', edit_course_path(course) %>)
    <% end %>
    <% if @logged_in_user.site_admin? %>
      (<%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>)
    <% end %>
  </li>
<% end %>
</ul>

<% if @logged_in_user.site_admin? %>
<p><%= link_to "New Course", new_course_path %></p>
<% end %>
