<% @page_title = @course.name %>

<p>
<%= link_to "Back to Your Courses", courses_path %>

<% if @logged_in_user.site_admin? or @course.taught_by?(@logged_in_user) %>
  | <%= link_to "Manage Registrations", course_registrations_path(@course) %>
  | <%= link_to "Manage Chapters", course_chapters_path(@course) %>
<% end %>
</p>

<h1>Chapters</h1>

<ul>
<% @course.chapters.each do |chapter| %>
  <li><%= link_to chapter.name, chapter %></li>
<% end %>
</ul>
