/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui/smoothness
 */

.header {
    border-bottom: thin solid black;
}

.page-title {
    margin-top: -5px;
    padding-bottom: 0.5ex;
    font-family: sans;
    font-size: 20pt;
}

.user-controls {
    text-align: right;
}

.footer {
    margin-top: 4em;
    padding-top: 1em;
    border-top: thin dashed grey;
    margin-left: 20%;
    margin-right: 20%;
    font-size: smaller;
    text-align: center;
}

.form-box {
    margin: 10%;
    border: thin solid grey;
    padding: 2em;
    text-align: center;
}

.flash-notice {
    border: thick solid green;
    padding: 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.flash-error {
    border: thick solid red;
    padding: 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.prose {
    max-width: 50em;
}

.pretty-list td {
    padding: 1em;
    border-top: thin dashed grey;
}

.pretty-list th {
    padding-right: 2em;
}

.edit-form td {
    padding: 1ex;
    vertical-align: top;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 10px;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    height: 1.7em;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

h1, h2, h3, h4 {
    font-family: sans;
}

h1 { font-size: 18pt; }
h2 { font-size: 16pt; }
h3 { font-size: 14pt; }
