/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker3
 *= require font-awesome
 */

$navbar-inverse-link-color: #bbb;
$navbar-inverse-link-active-color: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome.css";

.footer {
  margin-top: 4em;
  padding-top: 1ex;
  border-top: thin solid grey;
  text-align: center;
}

.prose {
    max-width: 50em;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 10px;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    height: 1.7em;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.header-user-info {
  padding: 15px;
  color: white;
}
